-- DropForeignKey
ALTER TABLE "public"."Asset" DROP CONSTRAINT "Asset_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."BankAccount" DROP CONSTRAINT "BankAccount_assetId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Contract" DROP CONSTRAINT "Contract_unitId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Loan" DROP CONSTRAINT "Loan_assetId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Ownership" DROP CONSTRAINT "Ownership_assetId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Ownership" DROP CONSTRAINT "Ownership_investorId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Transaction" DROP CONSTRAINT "Transaction_assetId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Unit" DROP CONSTRAINT "Unit_assetId_fkey";

-- DropTable
DROP TABLE "public"."Asset";

-- DropTable
DROP TABLE "public"."BankAccount";

-- DropTable
DROP TABLE "public"."Contract";

-- DropTable
DROP TABLE "public"."Investor";

-- DropTable
DROP TABLE "public"."Loan";

-- DropTable
DROP TABLE "public"."Ownership";

-- DropTable
DROP TABLE "public"."PotentialDeal";

-- DropTable
DROP TABLE "public"."Transaction";

-- DropTable
DROP TABLE "public"."Unit";

-- DropTable
DROP TABLE "public"."User";

-- DropEnum
DROP TYPE "public"."AssetType";

-- DropEnum
DROP TYPE "public"."IndexationType";

-- DropEnum
DROP TYPE "public"."PaymentFrequency";

-- DropEnum
DROP TYPE "public"."TransactionType";

